html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
}

ul, ol {
  list-style: none;
  margin-bottom: 0.5rem;
}

ul.list-bullet {
  list-style-type: disc;
  margin-left: 1.5rem;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Noto Serif JP', serif;
  color: #333;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2.5rem;
  margin-top: .5rem;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 1.5rem;
}

h3::before {
  content: "";
  padding-right: .6rem;
  border-left: 7px solid #40c700;
}

p {
  margin-bottom: 1rem;
  color: #333;
}

.marker-red {
  background: linear-gradient(transparent 50%, #ffccd5 50%);
}

.marker-pink {
  background: linear-gradient(transparent 50%, #ff99ff 50%);
}

.marker-yellow {
  background: linear-gradient(transparent 50%, #ffff66 50%);
}

.marker-green {
  background: linear-gradient(transparent 50%, #beedbe 50%);
}

.marker-blue {
  background: linear-gradient(transparent 50%, #a3ffff 50%);
}

.link {
  position: relative;
  margin-right: 2rem;
  color: #333;
}
.link::after {
  content: "";
  position: absolute;
  border-top: solid 2px black;
  border-right: solid 2px black;
  transform: rotate(45deg);
  top: .3rem;
  width: .8rem;
  height: .8rem;
  margin-left: .3rem;
  transition: margin .3s;
}
.link:hover::after, .link:focus::after, .link:active::after {
  margin-left: .8rem;
}

.align-r {
  text-align: right !important;
}

.align-c {
  text-align: center !important;
}

.align-l {
  text-align: left !important;
}

.commitment-content {
  display: flex;
  margin-bottom: 3rem;
}
.commitment-content div:first-child {
  margin-right: 1rem;
}
.commitment-content .text {
  min-width: 50%;
  background-color: #ccc;
  padding: 1rem;
}

header {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
}

.header-inner {
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
}
.header-inner a {
  color: #333;
}

.logo img {
  width: 5rem;
}

.global-nav {
  padding-bottom: .85rem;
  font-size: 1.2rem;
  display: flex;
  align-items: flex-end;
}
.global-nav ul li {
  display: inline-block;
  margin-top: .3rem;
  margin-right: 2.5rem;
}
.global-nav ul li:hover a:before {
  top: -20px;
  opacity: 1;
}
.global-nav ul li a {
  position: relative;
}
.global-nav ul li a:before {
  position: absolute;
  content: "";
  width: 1rem;
  height: 1rem;
  background-color: #ffb52d63;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0.81, 0.01, 0.32, 0.99), top 0.3s ease;
}

.opening-hours {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 1.2rem;
}
.opening-hours p {
  margin-bottom: 0.8rem;
}
.opening-hours p span {
  margin-right: .4rem;
}
.opening-hours p:first-child span {
  color: #ff8500;
}
.opening-hours p:nth-child(2) span {
  color: #40c700;
}

.reservations {
  text-align: center;
  display: flex;
  align-items: center;
}
.reservations div {
  padding: .3rem;
  width: 5.5rem;
  position: relative;
}
.reservations div::after {
  content: "";
  background-color: #ffb52d8c;
  width: 3rem;
  height: 3rem;
  border-radius: 32px;
  box-shadow: 0px 0px 25px #e6a209;
  opacity: 0;
  position: absolute;
  top: .8rem;
  left: 1rem;
  z-index: -1;
  transition: opacity .6s;
}
.reservations div:hover::after {
  opacity: 1;
}
.reservations div:first-child {
  margin-right: 8px;
}
.reservations i {
  font-size: 2.25rem;
  display: block;
  padding-bottom: 0.25rem;
}
.reservations span {
  font-size: 0.875rem;
}

.main-content {
  width: 1240px;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
  margin: 0 auto;
}

.first-view {
  position: fixed;
  top: 0px;
  background-color: #fff;
  height: 100vh;
  width: 100vw;
  z-index: 50;
  opacity: 1;
  transition: all 1s;
  display: block;
}
.first-view .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
}
.first-view .content p {
  color: #000;
  font-size: 60px;
}
.first-view.-fade-out {
  opacity: 0;
  pointer-events: none;
}

.contents {
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 8px;
  background: #fcfcfc;
  box-shadow: 11px 11px 22px #dbdbdb, -11px -11px 22px #ffffff;
}

.commitment {
  padding: 1rem;
  position: relative;
  margin-bottom: 1.125rem;
}

.toggle {
  display: none;
}

.toggle-btn {
  margin-top: 1.25rem;
  margin-bottom: .625rem;
}
.toggle-btn .toggle-btn-inner {
  cursor: pointer;
  background-color: #ff8500;
  border-radius: 4px;
  padding: .5rem 1.25rem;
  color: #fff;
}
.toggle-btn .toggle-btn-inner .toggle-close {
  display: none;
}

.scroll-fading {
  opacity: 0;
  transition: opacity 2.0s, left 1.0s, top 1.0s, transform 1.0s;
  position: relative;
}
.scroll-fading.-left {
  left: -6rem;
}
.scroll-fading.-right {
  left: 6rem;
}
.scroll-fading.-top {
  top: -6rem;
}
.scroll-fading.-bottom {
  top: 6rem;
}
.scroll-fading .-late {
  transition: all 2.5s;
}
.scroll-fading.fade-in {
  opacity: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: none;
}

.tabs {
  display: flex;
}
.tabs .tab {
  padding: 0.375rem 2rem;
  background-color: #999;
  border-right: 1px solid #fff;
  font-size: 1.25rem;
  cursor: pointer;
  color: #fff;
}
.tabs .tab.active {
  background-color: #40c700;
}

.tab-inner {
  display: none;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 1rem;
}
.tab-inner.open {
  display: block;
}

form label {
  display: block;
  margin-bottom: 0.25rem;
}
form input {
  margin-bottom: 1rem;
}
form input[type="text"], form input[type="tel"] {
  width: 20rem;
  font-size: 1.125rem;
  padding: 0.25rem;
}
form input[type="date"] {
  font-size: 1.5rem;
  padding: 0.25rem;
}
form input[type="submit"] {
  display: block;
  font-size: 1.5rem;
  padding: 0.25rem 2rem;
  background-color: #ff8500;
  border: none;
  border-radius: 0.25rem;
  color: #fff;
  transition: .3s;
  line-height: 1.4;
  cursor: pointer;
}
form input[type="submit"]:hover {
  background-color: #000;
}
form .checkbox {
  display: flex;
  flex-wrap: wrap;
}
form .checkbox.col-2 label {
  width: 50%;
}

.must:after {
  content: "*";
  color: #ea5325;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

footer {
  margin-bottom: 1rem;
}

.footer-inner {
  max-width: 1240px;
  padding-left: 1.125rem;
  padding-right: 1.125rem;
  margin: 0 auto;
}
.footer-inner address {
  text-shadow: 0px 2px 2px #00000054;
}

.main-vis {
  background-image: url(../images/main-vis.jpg);
  background-size: cover;
  height: 80vh;
  margin-bottom: 2rem;
}
.main-vis .main-hdg {
  height: 100%;
  text-align: center;
  background-color: #0000004f;
}
.main-vis .main-hdg > h1 {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
}

.recomends {
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
}
.recomends .recomend {
  border-radius: 2.5rem;
  background: #fcfcfc;
  box-shadow: inset 11px 11px 22px #dbdbdb, inset -11px -11px 22px #ffffff;
  padding: 1.5rem;
  margin: 1.5rem;
}
.recomends .recomend .slider-img > img {
  width: 100%;
  border-radius: 40px;
}

.main-content .slick-dots li button:before {
  font-size: 40px;
}
.main-content .slick-dots li button:hover:before {
  color: #ff8500;
}
.main-content .slick-dots li button:focus:before {
  color: #ff8500;
}
.main-content .slick-dots li.slick-active button:before {
  color: #ff8500;
}
