// 画面幅
// $breakpoint-narrow: 600px;
// $breakpoint: 768px;
// $breakpoint-wide: 1366px;
// $breakpoint-desktop-narrow: 1100px;

// コンテンツ幅
// $content-width-pc: 860px;
// $content-width-narrow-pc: 760px;
// $content-width-min-narrow-pc: 680px;
// $content-width-wide-pc: 1040px;

$pc: 1200px;
$max-sp: 767px;
$min-sp: 768px;
$max-tl: 959px;
$min-tl: 960px;


// 色
$color-white: #fff;
$color-black: #000;

$main-color: #ff8500;
$sub-color: #40c700;

// // ベーステキスト
// $base-font-family: 'Noto Sans', 'Noto Sans CJK JP', sans-serif;
// $base-font-color: $color-mine-shaft;
// $base-font-size: 16px;
// $base-line-height: 2;
// $base-letter-spacing: 0.05em;

// // その他
// $transition-duration: 0.3s;
