<%
  const pageType = {
    type: 'news'
    }
%>
<!DOCTYPE html>
<html lang="ja">
  <%- include('../common/_head', {page: pageType}) %>
  <body>
    <%- include('../common/_header') %>
      <main>
        <div class="main-content">
          <h1>ニュース</h1>
          <h2>新着情報</h2>
          <div class="loop-x-wrap">
            <div class="loop-x">
              <p><span class="new">新商品</span>ダミーダミーダミーダミーダミーダミー</p>
              <p><span class="holiday">臨時休業</span>ダミーダミーダミーダミーダミーダミー</p>
              <p><span class="new">新商品</span>ダミーダミーダミーダミーダミーダミー</p>
            </div>
            <div class="loop-x">
              <p><span class="new">新商品</span>ダミーダミーダミーダミーダミーダミー</p>
              <p><span class="holiday">臨時休業</span>ダミーダミーダミーダミーダミーダミー</p>
              <p><span class="new">新商品</span>ダミーダミーダミーダミーダミーダミー</p>
            </div>
            <div class="loop-x">
              <p><span class="new">新商品</span>ダミーダミーダミーダミーダミーダミー</p>
              <p><span class="holiday">臨時休業</span>ダミーダミーダミーダミーダミーダミー</p>
              <p><span class="new">新商品</span>ダミーダミーダミーダミーダミーダミー</p>
            </div>
          </div>

          <h2>お知らせ</h2>
          <ul class="info">
            <li><span class="marker-blue">××月●●日</span>ダミーダミーダミーダミーダミーダミー</li>
            <li><span class="marker-blue">××月●●日</span>ダミーダミーダミーダミーダミーダミー</li>
            <li><span class="marker-blue">××月●●日</span>年末年始商品の予約について</li>
          </ul>

          <h2>入荷情報</h2>
          <ul class="info">
            <li><span class="marker-red">××月●●日</span>秋の味覚、栗を仕入れました。</li>
            <li><span class="marker-red">××月●●日</span>高級和牛、松阪牛仕入れました。</li>
          </ul>
        </div>
      </main>
      <%- include('../common/_footer') %>
  </body>

</html>