<head>
<meta charset="UTF-8">
<title>藤本商店</title>
<meta name="keywords" content="ペリカンパン,ぬか漬け,惣菜,新鮮野菜,手作り,こだわり,上野,御徒町">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="icon" type="image/png" href="/assets/images/favicon.png">
<link rel="stylesheet" href="/assets/css/style.css">
<link href="/assets/css/font-awesome.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Noto+Serif+JP:wght@600&display=swap" rel="stylesheet">
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
<link href="/assets/lib/slick/slick.css" rel="stylesheet">
<link href="/assets/lib/slick/slick-theme.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>