<header>
  <div class="header-inner">
  <div class="logo"><a href="/"><img src="/assets/images/logo.png" alt="藤本商店"></a></div>
  <div class="global-nav">
  <nav>
  <ul>
  <li><a href="/commitment/">こだわり</a></li>
  <li><a href="/news/">ニュース</a></li>
  <li><a href="/blog/">ブログ</a></li>
  <li><a href="/store/">商品</a></li>
  <li><a href="https://www.instagram.com/fujimotosyoten_official/" class="social-media" target="_blank"><i class="fab fa-instagram"></i></a></li>
  </ul>
  </nav>
  </div>
  <div class="opening-hours">
  <p><span>open</span>10:00 ~ 19:00</p>
  <p><span>saturday</span>10:00 ~ 14:00</p>
  </div>
  <div class="reservations">
  <div><a href="/about/"><i class="fas fa-map-marker-alt"></i><span>店舗情報<span></a></div>
  <div><a href="/reservation/"><i class="fas fa-truck"></i><span>予約・配達</span></a></div>
  </div>
  </div>
  <div class="btn-hamb">
  <span></span>
  <span></span>
  <span></span>
  </div>
  </header>
