<header>
  <div class="header-inner">
    <div class="logo"><a href="/"><img src="/assets/images/logo.png" alt="藤本商店"></a></div>
    <ul class="global-nav">
      <li class="global-nav__li"><a class="global-nav__li--link" href="/commitment/">こだわり</a></li>
      <li class="global-nav__li"><a class="global-nav__li--link" href="/#anc_news">ニュース</a></li>
      <li class="global-nav__li"><a class="global-nav__li--link" href="/store/">商品</a></li>
      <li>
        <a href="https://www.instagram.com/fujimotosyoten_official/" target="_blank">
          <i class="fab fa-instagram social-media__icon"></i>
        </a>
      </li>
    </ul>
    <div class="reservation-wrapper">
      <div class="reservation">
        <a href="/about/">
          <i class="fas fa-map-marker-alt reservation__icon"></i>
          <span class="reservation-text">店舗情報</span>
        </a>
      </div>
      <div class="reservation">
        <a href="/#anc-reservation">
          <i class="fas fa-truck reservation__icon"></i>
          <span class="reservation-text">予約・配達</span>
        </a>
      </div>
    </div>
  </div>
  <div class="btn-hamburgerurger">
    <span></span>
    <span></span>
    <span></span>
  </div>
</header>