.new {
  padding: 0.25rem;
  margin-right: 0.5rem;
  color: #d22;
  border-right: 1px solid #d22;
  border-left: 1px solid #d22;
}
.holiday {
  padding: 0.25rem;
  margin-right: 0.5rem;
  color: #22d;
  border-right: 1px solid #22d;
  border-left: 1px solid #22d;
}
