.o-button {
  position: relative;
  display: block;
  min-width: 200px;
  height: 40px;
  padding: 10px;
  font-size: 14px;
  line-height: 20px;
  color: $color-white;
  text-align: center;
  background-color: $color-selective-yellow;
  border-radius: 20px;
  &:after {
    position: absolute;
    top: 50%;
    right: 10px;
    display: block;
    width: 8px;
    height: 8px;
    content: '';
    border-top: 2px solid $color-white;
    border-right: 2px solid $color-white;
    transform: rotate(45deg) translateX(-50%);
  }
  &:hover {
    padding-top: 9px;
    color: $color-selective-yellow;
    background-color: $color-white;
    border: 1px solid $color-selective-yellow;
    &:after {
      border-color: $color-selective-yellow;
    }
  }
  &[data-o-button='sp'] {
    @include mobile {
      min-width: 160px;
      font-size: 12px;
    }
  }
}
