.marker-red {
  background: linear-gradient(transparent 50%, #ffccd5 50%);
}
.marker-pink {
  background: linear-gradient(transparent 50%, #f9f 50%);
}
.marker-yellow {
  background: linear-gradient(transparent 50%, #ff6 50%);
}
.marker-green {
  background: linear-gradient(transparent 50%, #beedbe 50%);
}
.marker-blue {
  background: linear-gradient(transparent 50%, #c7dafe 50%);
}
