<%const page = {type:'store'}%>
<!DOCTYPE html>
<html lang="ja">
  <%- include('common/_head') %>
<body>
  <%- include('common/_header') %>
<main>
  <div class="first-view">
      <div class="content">
        <p>藤本商店</p>
      </div>
  </div>

<div class="main-vis">
  <div class="main-hdg">
    <h1>藤本商店</h1>
  </div>
</div>

<div class="main-content">
  <section class="contents">
    <h2>こだわり</h2>
    <div>
      <div>
        <p>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</p>
      </div>
      <div id="toggle01" class="toggle">
        <p>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</p>
        <p class="align-r"><a class="link" href="/commitment/">こだわりページへ</a></p>
      </div>
      <div class="toggle-btn">
        <span class="toggle-btn-inner" data-target="toggle01">
          <span class="toggle-open">もう少し読む</span>
          <span class="toggle-close">小さくする</span>
        </span>
      </div>
    </div>
  </section>

<section class="contents">
<h2>おすすめ</h2>
<div class="recommends slider">
<div class="recommend">
<p class="slider-img"><img src="/assets/images/recommended_01.jpg" alt="ペリカンパン"></p>
<p>1 ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</p>
</div>

<div class="recommend">
<p class="slider-img"><img src="/assets/images/recommended_02.jpg" alt="商品情報"></p>
<p>2 ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</p>
</div>

<div class="recommend">
<p class="slider-img"><img src="/assets/images/recommended_03.jpg" alt="商品情報"></p>
<p>3 ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</p>
</div>

<div class="recommend">
  <p  class="slider-img"><img src="/assets/images/recommended_04.jpg" alt="商品情報"></p>
  <p>4 ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</p>
</div>

<div class="recommend">
  <p  class="slider-img"><img src="/assets/images/recommended_05.jpg" alt="商品情報"></p>
  <p>5 ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</p>
</div>
</div>
<p class="align-r"><a class="link" href="/store/">商品ページへ</a></p>
</section>
</div>
</main>
<%- include('common/_footer') %>
</body>
</html>
